<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/articulos.jpg" style="opacity:0.5" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    @*<h1>Tenemos los Mejores Productos</h1>*@
                    @*<p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>*@
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Images/banner1.jpg" style="opacity:0.5" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    @*<h1>Un lugar confortable</h1>*@
                    @*<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>*@
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Images/calidad.jpg" style="opacity:0.5" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    @*<h1>... y como siempre, la mejor Calidad de Cuero</h1>*@
                    @*<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>*@
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <a href="https://www.instagram.com/explore/tags/leathergoods/" target="_blank">
                <img class="img-circle" src="~/Images/instagram.png" alt="Generic placeholder image">
            </a>
            <h3>Instagram</h3>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="https://www.facebook.com/cascuer.cueros.5?fref=ts" target="_blank">
                <img class="img-circle" src="~/Images/facebook.png" alt="Generic placeholder image">
            </a>
            <h3>Facebook</h3>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a href="https://twitter.com/willleather?lang=es" target="_blank">
                <img class="img-circle" src="~/Images/twitter.png" alt="Generic placeholder image">
            </a>
            <h3>Twitter</h3>
            @*<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
        </div>
        <div class="col-lg-4">
            <a href="https://www.youtube.com/results?search_query=leather+goods" target="_blank">
                <img class="img-circle" src="~/Images/youtube.png" alt="Generic placeholder image">
            </a>
            <h3>Youtube</h3>
            @*<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
        </div>
        <div class="col-lg-4">
            <a href="https://ar.pinterest.com/pin/388435536585610056/" target="_blank">
                <img class="img-circle" src="~/Images/pinterest.jpg" alt="Generic placeholder image">
            </a>
            <h3>Pinterest</h3>
            @*<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
        </div>
        <div class="col-lg-4">
            <a href="https://plus.google.com/109404611484593278335?hl=es" target="_blank">
                <img class="img-circle" src="~/Images/google.png" alt="Generic placeholder image">
            </a>
            <h3>Google</h3>
            @*<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
        </div>
        <!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Articulos de Primera Calidad. <span class="text-muted">Conocé nuestros productos</span></h2>
            <p class="lead">Al mejor precio</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/Images/cuero.jpg" style="width:500px; height:500px;" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    @*<div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div>*@

    @*<hr class="featurette-divider">*@

    @*<div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
            </div>
        </div>*@

    @*<hr class="featurette-divider">*@

    <!-- /END THE FEATURETTES -->
    <!-- FOOTER -->
    <footer id="PieIndex">
        <div class="gb-footer__sns-list">
            <strong>Conectate con Nosotros</strong>
            <ul class="gb-footer__depth2">
                <li class="gb-footer__item gb-footer__svg s-facebook">
                    <a title="Facebook : Abrir en una nueva ventana" data-omni="footer:facebook" href="https://www.facebook.com/cascuer.cueros.5?fref=ts" target="_blank">Facebook</a>
                </li>
                <li class="gb-footer__item gb-footer__svg s-twitter">
                    <a title="Twitter : Abrir en una nueva ventana" data-omni="footer:twitter" href="https://twitter.com/willleather?lang=es" target="_blank">Twitter</a>
                </li>
                @*<li class="gb-footer__item gb-footer__svg s-youtube">
                        <a title="You Tube : Abrir en una nueva ventana" data-omni="footer:you tube" href="https://www.youtube.com/user/SamsungLivemx" target="_blank">You Tube</a>
                    </li>*@
                <li class="gb-footer__item gb-footer__svg s-in">
                    <a title="Linked In : Abrir en una nueva ventana" data-omni="footer:linked in" href="https://www.linkedin.com/company/11973224/" target="_blank">LinkedIn</a>
                </li>
            </ul>
        </div>

        <p class="pull-right"><a href="#">Volver arriba</a></p>
        <p>&copy; @DateTime.Now.Year - Facundo E. Laino &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->