@Html.Partial("_Espacio1")
<div class="col-md-4" id="PagoTarjeta">
    <div class="panel panel-success">
        <div class="panel-heading panel-title">Tarjeta de Crédito</div>
        <div class="panel-body">

            <label>Marca</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                <select class="selectpicker form-control">
                    <option style="color:black;">Selecione ...</option>
                    <option style="color:black;" value="visa">Visa</option>
                    <option style="color:black;" value="amex">American Express</option>
                    <option style="color:black;" value="master">MasterCard</option>
                </select>
            </div>

            <br />
            <div class="form-inline"">
                <label>Número</label><br>
                <input type="text" required class="form-control" placeholder="xxxx" maxlength="4" size="4" /> 
                <input type="text" required class="form-control" placeholder="xxxx" maxlength="4" size="4" />
                <input type="text" required class="form-control" placeholder="xxxx" maxlength="4" size="4" />
                <input type="text" required class="form-control" placeholder="xxxx" maxlength="4" size="4" />
            </div>
            <br />
            <div class="form-inline">
                <label>Fecha que Expira</label><br>
                <input type="text" required class="form-control" placeholder="MM" maxlength="2" size="2" /> / <input type="text" class="form-control" required placeholder="YYYY" maxlength="4" size="4"/>
            </div>

            <br />

            <div class="form-inline">
                <label>Cod. Verificación</label><br />
                <input type="text" size="4" class="form-control" required maxlength="4" placeholder="1234" />
            </div>

        </div>

    </div>
</div>

<div class="col-md-4" id="PagoPayPal">
    <div class="panel panel-success">
        <div class="panel-heading panel-title">PayPal</div>
        <div class="panel-body">
            <img id="imagePayPal" src="~/Images/PayPal.JPG"/>
        </div>
    </div>
</div>
<div class="row">
    <div  style="float:right">
        @Html.ActionLink("Confirmar", "finishCart", "Cart", null, new { @class = "btn btn-primary" })
    </div>
</div>

@Html.Partial("_Espacio2")

